* {body {
    box-sizing: border-box;
    background-color: rgb(13, 176, 252);
    color: white;

}

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;

}

.logo .ox {
    color: blue;
    font-size: 100px;
}
.imagen-con-margen {
    margin-bottom: 20px; 
  }
  

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


a.custom-link {
    display: inline-block; /* Hace que el enlace se comporte como un elemento de bloque */
    color: rgb(255, 255, 255); /* Cambia el color del texto */
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgb(244, 81, 0);
    box-shadow: 2px 2px 10px rgba(248, 245, 245, 0.5);
    background-color: rgba(4, 12, 69, 0.809);
    text-decoration: none; /* Elimina el subrayado predeterminado */
}

/* Cambia el color de fondo cuando el ratón está encima */
a.custom-link:hover {
    background-color: rgb(255, 144, 40);
}

.container1{
    max-width: 1600px;
    margin: 4px;
    background-color: rgba(12, 12, 38, 0.976);

}


header{
    background-color: rgb(4, 1, 72);
    font-size: 2.00em; }
    .imagen-pequena {
        float: left; 
        width: 300px; 
        margin-right: 20px;
    }
    
    .logo{
        margin: 0;
        padding: 25px 30px;
        font-weight: bold;
        color: rgb(252, 252, 253);
        font-size: 1.6em;
    }

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#hero button{
    font-size: 1.75em;
}



#nuestras-tareas{
    background-color: rgb(30,30,30);
    color: rgb(252, 251, 251);
    text-align: center;
}

#nuestras-tareas .container{
    padding: 150px 12px;
}

#nuestras-tareas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestras-tareas p{
    display: none;
}

#nuestras-tareas .diseño{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.diseño:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Tarea\ 1.jpg");

}

.diseño:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Tarea 2.jpg");
}

.diseño:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Tarea 3.jpg");

}

    #nuestras-tareas .tareas{
        display: grid;  
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }
    .diseño:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/Tarea 4.jpg");
    
    }

    #nuestras-tareas p{
        display: block;
        margin-bottom: 30px;
    }
    .diseño:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/Tarea\ 5.jpg");
    
    }

    #nuestras-tareas h2{
        font-size: 4em;
    }
    .diseño:nth-child(6){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/Tarea 6 y 7.jpg");
    
    }

    #nuestras-tareas h3{
        margin-top: 0;
    }
    .diseño:nth-child(7){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/Tarea 8.jpg");
    
    }
    .diseño:nth-child(8){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/Tarea 9.jpg");
    
    }

    #nuestras-tareas .diseño{
        padding: 50px; 
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(33, 33, 33);
        box-shadow: 2px 2px 10px rgba(17, 7, 23, 0.945);
    }
    .diseño:nth-child(9){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/OIP (23).jpg");
    
    }

.titulo {
    background-color: rgb(13, 11, 57);
    color: white;
    font-size: 40px;
    text-align: center;
    }

.container2 {
    background-color:rgb(5, 3, 56);
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
    color: white;
    box-shadow: 2px 2px 10px rgba(248, 245, 245, 0.5);
  }
  
  .container2 td, .container2 th {
    border: 2px solid rgb(248, 245, 245); 
    padding: 10px; 
    text-align: center; 
    font-size: 19px;
  }
  
